<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>visitantes</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https:://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/index" class="nav-link text-color-primary">Inicio</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class=" nav-link active ">Visitantes</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link  ">Usuarios</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
           <a href="/" class="btn btn-sm btn-danger">
          <i class="fas fa-user"></i> cerrar sesion
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Usuario</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Adminstrador</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">        
          <li class="nav-item">
            <a href="/lists" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Lista de usuario
                <span class="right badge badge-danger">.</span>
              </p>
            </a>
          </li>
           <li class="nav-item">
            <a href="/list" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Lista de visitantes
                <span class="right badge badge-danger">.</span>
              </p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Lista de Visitantes</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Inicio</li>
              <li class="breadcrumb-item active"><a href="#">Lista</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->

            <div class="card">
              <div class="card-header">



      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Registrar</button>




{{!-- //modal para registro --}}
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">

                        <h4 class="modal-title" id="exampleModalLabel">Nuevo visitante</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                      </div>
                      <div class="modal-body">
                           <form action="list" method="post">
                    <div class="input-group mt-2">
                        <label for="name" class="input-group-text">Nombre</label>
                        <input class="form-control" type="text" name="nombre" id="name" onpaste="return false;"
                         onkeypress="return event.charCode>=65 && event.charCode<=90 || event.charCode>=97 && event.charCode<=122"  autofocus required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="lastname" class="input-group-text">Apellido</label>
                        <input class="form-control" type="text" name="apellido" id="lastname" ondrop="return false;" onpaste="return false;"
                         onkeypress="return event.charCode>=65 && event.charCode<=90 || event.charCode>=97 && event.charCode<=122"  required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="name" class="input-group-text">Cédula</label>
                        <input class="form-control"  type="varchar" name="cedula"   maxlength="8"  autofocus required ondrop="return false;" onpaste="return false;"
                          onkeypress="return event.charCode>=48 && event.charCode<=57"/>
                    </div>   
                    <div class="input-group mt-2">
                        <label for="name" class="input-group-text">Telefono</label>
                        <input class="form-control" type="varchar" name="telefono"  maxlength="11"  autofocus required ondrop="return false;" onpaste="return false;"
                          onkeypress="return event.charCode>=48 && event.charCode<=57"/>
                    </div> 
   {{!-- //select doble para filial y departamento                  --}}
                <div class="input-group mt-2">
                 <label for="name" class="input-group-text">Filial</label>
                 <select class="form-control" name="filial" id="filial" onchange="cargarDepartamentos();">
                    <!-- Hay que terminar los options -->
                    <!-- 
                        Eliminado de value la llamada a la función,
                        si eso funciona lo desconocía, y aunque 
                        lo haga es totalmente innecesario, 
                        lo correcto es usar el evento onchange 
                      -->
                    <option value="">Seleccione una Filial...</option>
                </select> 
                </div>
                <div class="input-group mt-2">
                <label for="name" class="input-group-text">Departamento</label>
                 <select class="form-control" name="departamento" id="departamento">
              <!-- Hay que terminar los options -->
              <!-- 
                   Eliminado de value la llamada a la función,
                   si eso funciona lo desconocía, y aunque 
                   lo haga es totalmente innecesario, 
                   lo correcto es usar el evento onchange 
                -->
              <option value="">Seleccione</option>
          </select>
          </div>

                    <div class="form-group mt-4 d-grid gap-2">
                        <button href="list" class="btn btn-success"> Crear</button>
                    </div>
                    </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                {{#if personas}}
                            <table id="example1" class="table table-bordered table-striped ">

                              <thead>
                                    <tr class="">                                       
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">cedula</th>
                                        <th scope="col">telefono</th>
                                        <th scope="col">filial</th>
                                        <th scope="col">departamento</th>                                       
                                        <th scope="col">fecha</th>
                                        <th scope="col">Acciones</th>                                       
                                    </tr>
                                </thead>
                              <tbody>
                                                     
                                        {{#each personas}}
                                                <tr>
                                                    <td>{{nombre}}</td>
                                                    <td>{{apellido}}</td>
                                                    <td>{{cedula}}</td>
                                                    <td>{{telefono}}</td>
                                                    <td>{{filial}}</td>
                                                    <td>{{departamento}}</td>
                                                    <td>{{created_at}}</td>                                            
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="/edit/{{id}}" class="btn btn-warning p-2">
                                                            <i class="fa-solid fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;
                                                            <a href="/delete/{{id}}" class="btn btn-danger p-2">
                                                            <i class="fa-solid fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                
                                                </tr>
                                            {{/each}}
                              </tbody>                             
                            </table>

                    {{else}}
                        <div class="card text-center mx-auto" style="width: 350px;">
                        <div class="card-header">
                        <h3>Debes crear una persona</h3>
                        </div>
                        <div class="card-body">
                        <p>Presiona este boton para que puedas registrar a una persona en la aplicacion</p>
                        <a href="#" class="btn btn-primary">Ir a crear</a>
                        </div>
                    {{/if}}



              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../plugins/jszip/jszip.min.js"></script>
<script src="../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["excel", "pdf", "print"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>


<script>

function cargarFiliales() {
    var array = ["csc", "andino", "cca", "vencemos", "entipi"];
    array.sort();
    addOptions("filial", array);
}


//Función para agregar opciones a un <select>.
function addOptions(domElement, array) {
    var selector = document.getElementsByName(domElement)[0];
    for (filial in array) {
        var opcion = document.createElement("option");
        opcion.text = array[filial];
        // Añadimos un value a los option para hacer mas facil escoger los departamentos
        opcion.value = array[filial].toLowerCase()
        selector.add(opcion);
    }
}



function cargarDepartamentos() {
    // Objeto de filial con departamentos
    var listaDepartamentos = {
      csc: ["informatica", "auditoria interna ", "bienes publicos", "consultoria exportación e importación","gerencia de concreto","gerencia general de comercializacion","gerencia general de logistica mantenimiento y proyectos","gerencia general de operaciones","oficina de atencion ciudadana","oficina de gestion administrativa","oficina de gestion comunicacional"],
      andino: ["gerencia de comercializacion", "gerencia de logistica", "bienes publicos"],
      cca: ["gerencia de comercializacion", "gerencia de logistica", "bienes publicos"],
      vencemos: ["gerencia de comercializacion", "gerencia de logistica ", "bienes publicos"],
      entipi: ["gerencia de comercializacion", "gerencia de logistica", "bienes publicos"]
    }
    
    var filiales = document.getElementById('filial')
    var departamentos = document.getElementById('departamento')
    var filialSeleccionada = filiales.value
    
    // Se limpian los departamentos
    departamentos.innerHTML = '<option value="">Seleccione</option>'
    
    if(filialSeleccionada !== ''){
      // Se seleccionan los departamentos y se ordenan
      filialSeleccionada = listaDepartamentos[filialSeleccionada]
      filialSeleccionada.sort()
    
      // Insertamos los departamentos
      filialSeleccionada.forEach(function(departamento){
        let opcion = document.createElement('option')
        opcion.value = departamento
        opcion.text = departamento
        departamentos.add(opcion)
      });
    }
    
  }
  
 // Iniciar la carga de filial solo para comprobar que funciona
cargarFiliales();
</script>






</body>
</html>